{% extends 'base.html' %}
{% load static %}
{% load cache %}

{% block main %}
    <!-- Shop Start -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <!-- Shop Sidebar Start -->
            <div class="col-lg-3 col-md-4">
                <!-- Filter Form Start -->
                <form method="GET" action="{% url 'product_app:product_list' %}">
                    <!-- Price Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3">
                        <span class="bg-secondary pr-3">Filter by price</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">
                        <div class="mb-3">
                            <label for="price-min">Min</label>
                            <input type="number" name="min_price" id="price-min" value="{{ request.GET.min_price }}">
                        </div>
                        <div class="mb-3">
                            <label for="price-max">Max</label>
                            <input type="number" name="max_price" id="price-max" value="{{ request.GET.max_price }}">
                        </div>
                    </div>
                    <!-- Price End -->

                    <!-- Color Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3">
                        <span class="bg-secondary pr-3">Filter by color</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">
                        {% for color in colors %}
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="color" class="custom-control-input" id="color-{{ color.id }}" value="{{ color.id }}"
                                {% if color.id|stringformat:"s" in request.GET.color %}checked{% endif %}>
                                <label class="custom-control-label" for="color-{{ color.id }}">{{ color.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Color End -->

                    <!-- Size Start -->
                    <h5 class="section-title position-relative text-uppercase mb-3">
                        <span class="bg-secondary pr-3">Filter by size</span>
                    </h5>
                    <div class="bg-light p-4 mb-30">
                        {% for size in sizes %}
                            <div class="custom-control custom-checkbox d-flex align-items-center justify-content-between mb-3">
                                <input type="checkbox" name="size" class="custom-control-input" id="size-{{ size.id }}" value="{{ size.id }}"
                                {% if size.id|stringformat:"s" in request.GET.size %}checked{% endif %}>
                                <label class="custom-control-label" for="size-{{ size.id }}">{{ size.title }}</label>
                            </div>
                        {% endfor %}
                    </div>
                    <!-- Size End -->

                    <input type="submit" class="btn btn-primary" value="Apply Filters">
                </form>
                <!-- Filter Form End -->
            </div>
            <!-- Shop Sidebar End -->

            <!-- Shop Product Start -->
            <div class="col-lg-9 col-md-8">
                <div class="row pb-3">
                    <div class="col-12 pb-1">
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <div>
                                <button class="btn btn-sm btn-light"><i class="fa fa-th-large"></i></button>
                                <button class="btn btn-sm btn-light ml-2"><i class="fa fa-bars"></i></button>
                            </div>
                            <div class="ml-2">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Sorting</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">Latest</a>
                                        <a class="dropdown-item" href="#">Popularity</a>
                                        <a class="dropdown-item" href="#">Best Rating</a>
                                    </div>
                                </div>
                                <div class="btn-group ml-2">
                                    <button type="button" class="btn btn-sm btn-light dropdown-toggle" data-toggle="dropdown">Showing</button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a class="dropdown-item" href="#">10</a>
                                        <a class="dropdown-item" href="#">20</a>
                                        <a class="dropdown-item" href="#">30</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% for product in product_list %}
                        <div class="col-lg-4 col-md-6 col-sm-6 pb-1">
                            <div class="product-item bg-light mb-4">
                                <div class="product-img position-relative overflow-hidden">
                                    <a href="{% url 'product_app:product_detail' product.pk %}">
                                        <img src="{{ product.image.url }}" alt="{{ product.title }}" style="width: 450px; height: 200px; object-fit: cover;">
                                    </a>
                                    <div class="product-action">
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-shopping-cart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="far fa-heart"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-sync-alt"></i></a>
                                        <a class="btn btn-outline-dark btn-square" href=""><i class="fa fa-search"></i></a>
                                    </div>
                                </div>
                                <div class="text-center py-4">
                                    <a class="h6 text-decoration-none text-truncate" href="{% url 'product_app:product_detail' product.pk %}">{{ product.title }}</a>
                                    <div class="d-flex align-items-center justify-content-center mt-2">
                                        <h5>${{ product.price }}</h5>
                                        {% if product.discount %}
                                            <h6 class="text-muted ml-2">
                                                <del>${{ product.discount_price }}</del> ({{ product.discount }}% off)
                                            </h6>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="col-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                {% if product_list.has_previous %}
                                    <li class="page-item"><a class="page-link" href="?page={{ product_list.previous_page_number }}">&laquo; Previous</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link">&laquo; Previous</a></li>
                                {% endif %}

                                {% for num in product_list.paginator.page_range %}
                                    {% if product_list.number == num %}
                                        <li class="page-item active"><a class="page-link">{{ num }}</a></li>
                                    {% else %}
                                        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                    {% endif %}
                                {% endfor %}

                                {% if product_list.has_next %}
                                    <li class="page-item"><a class="page-link" href="?page={{ product_list.next_page_number }}">Next &raquo;</a></li>
                                {% else %}
                                    <li class="page-item disabled"><a class="page-link">Next &raquo;</a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- Shop Product End -->
        </div>
    </div>
    <!-- Shop End -->
{% endblock %}
