{% extends 'base.html' %}
{% load static %}


{% block main %}

    <!-- Contact Start -->
    <div class="container-fluid">
        <h2 class="section-title position-relative text-uppercase text-center mx-xl-5 mb-4"><span
                class="bg-secondary pr-3">user profile</span></h2>
        <div class=" px-xl-5">
            <div class=" mb-5 contact-us" style="">
                <div class="contact-form bg-light p-30">
                    <div class="text-center">
                        <ul>
                            <li>phone : {{ request.user.phone }}</li>
                            <li>Email : {{ request.user.email }}</li>
                            <li>password : {{ request.user.password }}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- Contact End -->

{% endblock main %}
    