{#{% if category.subs.all %}#}
{#<div class="nav-item dropdown dropright">#}
{#    <a href="#" class="nav-link dropdown-toggle"#}
{#       data-toggle="dropdown">{{ category.title }} <i#}
{#            class="fa fa-angle-right float-right mt-1"></i></a>#}
{#    <div class="dropdown-menu position-absolute rounded-0 border-0 m-0">#}
{#        {% for sub in category.subs.all %}#}
{#            <a href="" class="dropdown-item">{{ sub.title }}</a>#}
{##}
{#        {% endfor %}#}
{##}
{#    </div>#}
{#</div>#}
{#{% endif %}#}


{% for sub_category in category.subs.all %}
    <div class="nav-item dropdown dropdown-submenu">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">{{ sub_category.title }} <i
                class="fa fa-angle-right float-right mt-1"></i></a>
        {% if sub_category.subs.all %}
            <div class="dropdown-menu">
                {% include 'includes/sub_category.html' with category=sub_category %}
            </div>
        {% endif %}
    </div>
{% endfor %}
